.particular {
  text-align: center;
}
.part-head {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0px;
  color: white;
  background-color: black;
}
.part-episode {
  background-color: antiquewhite;
  margin-top: -19px;
  padding: 20px;
}
.part-element {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 30px;
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: lightgreen;
}
.part-ele-bg {
  background-color: darkgreen;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  color: white;
}
input {
  height: 25px;
  padding-left: 10px;
  margin-left: 10px;
  font-size: 17px;
  /* background-color: lightgrey; */
}
